.studies-posts__row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    align-items: top;
    justify-content: space-between;
   
}

.studies-posts__info{
    padding : 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    z-index: 2;
    position: relative;
}
.studies-posts_wrap{
    position: absolute;
    bottom: 0px;
    z-index: 9999;
    width: 100%;
}
.lastes-post__media {
    position: relative;
    z-index: 2;
} 
.studies-posts__post{
    border-radius: 60px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: rgba(0, 0, 0, 0.03);
    position: relative;
    padding: 10px;
}

.studies-posts__post {
    border-radius: 56px !important;
    z-index: 1;
}
.studies-posts__post:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    border-radius: 56px;
    background: linear-gradient( to top right , #298D06, #FFE500) border-box;
    -webkit-mask: linear-gradient(#0c0d0eed 0 0) padding-box, linear-gradient(#010101f7 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: 1;
}

.studies-posts__post:hover .studies-posts__post__btn{
    background-image: linear-gradient(195deg, #FFE500 0%, #298D06 100%);
}
.studies-posts__post img{
    border-radius: 47px;
    width: 100%;
}
.studies-posts__post__title{
    color: rgba(1, 1, 1, 0.80);
    font-family: Gilroy;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height:1; 
    margin: 0;
    
}
.blog_post_category{
    color: rgba(1, 1, 1, 0.70);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid rgba(1, 1, 1, 0.50);  
}

.studies_date_time  {
    color: rgba(0, 0, 0, 0.60);
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.studies-posts__post__btn {
   background: #F1F1F1;
   border-radius: 100px;
   padding: 15px;
   display: grid;
   place-items:center;
   transition: all 0.4s;
}
.studies_no_post_message{
    color: rgba(1, 1, 1, 0.623);
    text-align: center;
    font-family: Gilroy;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 100% */
    letter-spacing: 1px;
}

/* paginate links style */
.wp-pagenavi {
    margin-top: 30px;
    text-align: center;
}
.wp-pagenavi a {
    font-size: 20px;
    font-weight: 500;
     font-family: Gilroy;
    color: #010711;
    margin: 0px 10px;
}

.wp-pagenavi span {
    font-size: 20px;
    font-weight: 500;
     font-family: Gilroy;
    color: #010711;
    margin: 0px 10px;
}
.wp-pagenavi .current {
    font-size: 20px;
    font-weight: 500;
     font-family: Gilroy;
    margin: 0px 10px;
}
.__result_not_match-text{
    font-size: 20px;
    font-weight: 500;
     font-family: Gilroy;
    color: #010711;
    margin: 0px 10px;
}
@media only screen and (min-width: 333px) {
    .portfolio_post_category{
        gap: 10px;
    }
    
}

@media only screen and (min-width: 768px) {
    .studies-posts__row{
        grid-template-columns: repeat(2, 1fr);
   
    }
   
}

@media only screen and (min-width: 992px) {
    .studies-posts__row{
        grid-template-columns: repeat(3, 1fr);
   
    }
}